.AllSectionWrapper {
  min-height: 500px;
}
/* .AllSectionWrapper .CustomerListingActivityContent .ant-divider {
  margin: 0;
}
.AllSectionWrapper .CustomerListingActivityContent p {
  margin: 0;
  padding: 10px;
}
.AllSectionWrapper .ant-popover-arrow {
  display: none;
} */
