.ant-modal-header {
  border-bottom: none;
  padding-bottom: 7px;
}
.col1,
.col2 {
  padding: 0 20px;
}
.ant-form-item {
  margin-bottom: 5px;
}
.col1 label,
.col2 label {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.spaceBetween2 {
  padding-left: 10px;
}
.spaceBetween1 {
  padding-right: 7px;
}
.spaceBetween3 {
  padding-left: 15px;
}
.radio {
  padding-bottom: 0px !important;
  margin-bottom: 7px !important;
}
.col1 input,
.col2 input,
.col1 .select,
.col2 .select {
  border-radius: 5px;
  border: solid 1px #ccced5;
  background-color: #ffffff;
}
.btn-grp {
  float: right;
  width: 48%;
}
.sameAddress {
  margin-left: 30px;
}
.reasonSection {
  margin-top: 28px;
}
.ant-btn.cancelBtn {
  margin-right: 10px;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  font-weight: 500;
  color: #9a9a9a;
  width: 100px;
  height: 40px;
  background-color: #f5f5f7;
  border: none;
  border-radius: 6px !important;
}
.ant-btn.cancelBtn:hover {
  border: none !important;
}
.saveBtn {
  padding-left: 10px;
  margin-left: 10px;
  width: 134px;
  height: 40px;
  border-radius: 5px;
  background-color: #1b79d8;
  border-radius: 6px !important;
}
.shippingAddressWrapper {
  margin: 3px 0px 4px 0px;
}
.divider {
  margin: 10px 0 24px 0 !important;
}
.inActiveLabel {
  position: relative;
  top: 10px;
}

/* Mandatory Field */
.mandatoryField .ant-form-item-label:before {
  display: none;
}