.scroll-header {
  overflow-x: auto;
  overflow-y: hidden;
}
.headerWrapper {
  background: #004881 !important;
}
.scroll-header::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}

/* Track */
.scroll-header::-webkit-scrollbar-track {
      background:#91a9bf;
}

/* Handle */
.scroll-header::-webkit-scrollbar-thumb {
      background: #f5f5f7;
    border-radius: 5px;
}
.headerWrapper li {
  background-color: #004881 !important;
  color: #ffffff !important;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.ant-menu-dark .ant-menu-item-selected {
  font-family: roboto-medium;
}
.headerWrapper .ant-menu-overflowed-submenu {
  display: none !important;
}
.headerWrapper .ant-menu-item.menuitem-overflowed {
  display: inline-block !important;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: #ffffff !important;
}
.ant-menu-dark .ant-menu-item-selected:after {
  content: '';
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent !important;
  border-bottom: 10px solid white;
}
.right-icons {
  float: right;
}
.right-menu {
  display: inline;
  list-style: none;
}
.right-menu li {
  display: inline-block;
  padding: 0px 15px;
}
.ant-menu-dark.ant-menu-horizontal {
  padding-left: 17px;
}
.logoImageWrapper {
  height: 50px;
}
.logoImageWrapper img {
  width: 100%;
  height: 80%;
  position: relative;
  top: -5px;
}
@media only screen and (max-width: 1050px) {
  .SubHeaderWrapper .SubHeaderButtons {
    position: initial !important;
  }
  .SubHeaderWrapper .SubHeaderButtons .SubHeaderFirstButtons::before {
    display: none !important;
  }
  table td:nth-child(2),
  table td:nth-child(3),
  table td:nth-child(4) {
    width: auto;
  }
}
@media only screen and (max-width: 1250px) {
  .ant-menu-dark.ant-menu-horizontal {
    padding-left: 0px;
  }
}
