.headerWrapper {
  background: #004881 !important;
}
.headerWrapper li {
  background-color: #004881 !important;
  color: #ffffff !important;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
}
.ant-menu-dark .ant-menu-item-selected {
  font-weight: bold !important;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: #ffffff !important;
}
.ant-menu-dark .ant-menu-item-selected:after {
  content: '';
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent !important;
  border-bottom: 10px solid white;
}
.right-icons {
  float: right;
}
.right-menu {
  display: inline;
  list-style: none;
}
.right-menu li {
  display: inline-block;
  padding: 0px 15px;
}
.ant-menu-dark.ant-menu-horizontal {
  padding-left: 80px;
}
