.SubHeaderWrapper {
  padding: 10px 25px 25px 25px;
  background-color: #ffffff !important;
}
.SubHeaderWrapper h3 {
  color: #000000 !important;
}
.SubHeaderWrapper .SubHeaderButtons {
  left: 230px;
  position: absolute;
  border: none;
  z-index: 100;
}
.SubHeaderWrapper .SubHeaderButtons .ant-btn {
  border: none;
  box-shadow: none;
  line-height: 45px;
  background: none;
  font-size: 16px;
  color: #383838;
  line-height: 1.31;
}
.SubHeaderWrapper .SubHeaderButtons .ant-btn:focus,
.SubHeaderWrapper .SubHeaderButtons .ant-btn:active {
  color: #595959;
  outline: none;
}
.SubHeaderWrapper .SubHeaderButtons .ant-btn:after {
  display: none;
}
.SubHeaderWrapper .SubHeaderButtons .ant-btn img {
  margin-right: 10px;
  margin-bottom: 4px;
}
.SubHeaderWrapper .SubHeaderButtons .SubHeaderFirstButtons::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 27px;
  background-color: #e8e8e8;
  margin-right: 10px;
  position: relative;
  top: 9px;
}
.SubHeaderTabs img {
  padding-right: 8px;
}
.SubHeaderTabs .ant-tabs-ink-bar {
  background-color: #147cd8;
}
.SubHeaderTabs .ant-tabs-nav {
  color: #383838;
}
.SubHeaderTabs .ant-tabs-nav .ant-tabs-tab {
  margin: 0;
}
.SubHeaderTabs .ant-tabs-nav .ant-tabs-tab:hover {
  color: #147cd8;
}
.ant-tabs-bar {
  border-bottom: 2px solid #e8e8e8 !important;
  margin-bottom: 0;
}
